.button {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18 / 14);
    margin-bottom: 80px;
    padding: 14px 40px;
    color: #f3f3f3;
    background-color: #161F37;
    border-radius: 42px;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.button:focus,
.button:hover {
  transform: scale(1.03);
}



