@font-face {
    font-family: 'ManropeRegular';
    src: url(../../assets/fonts/Manrope-Regular.ttf);
}

.RecipeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    /* temporary margin */
}

.glass {
font-size: 16px;
font-family: 'ManropeRegular';
font-weight: 400;
color:black;
line-height: 1.2;
color: rgba(22, 31, 55, 0.5);
margin-bottom: 20px;

}

.RecipeDescription {
font-size: 14px;
font-family: 'ManropeRegular';
line-height: 1.3;
color:black ;
text-align: justify;
margin-bottom: 40px;
}

.RecipeImg {
    margin-bottom: 18px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

@media screen and (min-width:768px) {
    .RecipeContainer {
        margin-top: 224px;
    }
    .RecipeDescription {
    line-height: calc(22 / 16);
    font-size: 16px;
    width: 593px;
    }
    .RecipeImg {
    margin-bottom: 80px;
    }
}
/* Temporary margin without Header yet */

@media screen and (min-width: 1440px) {
    .HeroRecipeContainer {
    margin-right: 247px;
    }
    .RecipeDescription {
    font-size: 16px;
    width: 593px;
    }
    .RecipeContainer {
    flex-direction: unset;
    margin-bottom: 128px;
    }
    .RecipeImg {
    width: 400px;
    height: 400px;
    margin-bottom: 0px;
    }
}
