@font-face {
    font-family: 'ManropeSemiBold';
    src: url(../../../assets//fonts//Manrope-SemiBold.ttf);
}
@font-face {
    font-family: 'ManropeRegular';
    src: url(../../../assets//fonts/Manrope-Regular.ttf);
}
/* LIST */
.title {
    font-family: 'ManropeSemiBold';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
    color: black;
    margin-bottom: 42px;
    display: flex;
    color: rgba(22, 31, 55, 0.5);
}

.ingredientsList {
    display: flex;
    padding: 0;
    list-style: none;
    text-decoration: none;
    gap: 21px;
    margin-bottom: 80px;
}

@media screen and (min-width:768px) {
    .title {
        margin-bottom: 24px;
        font-size: 16px;
    }

    .ingredientsList {
        gap: 22px;
    }
}

@media screen and (min-width:1440px) {
    .ingredientsList {
        gap: 35px;
        margin-bottom: 100px;
    }
}
/* LIST */


/* ITEMS */

.ingredientsItem {
flex-basis: calc((100% - 21 * (2 - 1)) / 2);
list-style: none;
}

.ingredientsContainer {
width: 149px;
height: 157px;
margin-bottom: 8px;
position: relative;
border-radius: 8px;
background-color: #161F37;
}

.imgIngredients {
content: "";
position: absolute;
top: 50%;
left: 50%;
width: 107px;
height: 107px;
background-size: cover;
transform: translate(-50%, -50%);
}

.ingredientsDescription {
    display: flex;
    align-items: center;

}

.ingredientsTitle {
    font-family: 'ManropeSemiBold';
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.8;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ingredientsMeasures {
    font-family: 'ManropeSemiBold';
    font-size: 14px;
    font-weight: 500;
    line-height: 0.8;
    color: rgba(22, 31, 55, 0.5);
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* ITEMS */


/* ITEMs SCREENS */

@media screen and (min-width: 1440px) {
    .ingredientsItem {
        flex-basis: calc((100% - 22 * (3 - 1)) / 3);
    }
};

@media screen and (min-width:768px) {
    .ingredientsItem {
        flex-basis: calc((100% - 35 * (5 - 1)) / 5);
    }
    .ingredientsContainer {
        width: 220px;
        height: 220px;
        margin-bottom: 14px;
    }
    .imgIngredients {
        width: 175px;
        height: 175px;
    }
    .ingredientsTitle {
        font-size: 18px;
        line-height: 0.75;
    }
    .ingredientsMeasures {
        font-size: 16px;
        line-height: 0.8;
        max-width: 112px;
        text-overflow: ellipsis;
    }
};