@font-face {
    font-family: 'ManropeBold';
    src: url(../../../assets//fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: 'ManropeRegular';
    src: url(../../../assets//fonts/Manrope-Regular.ttf);
}


.title {
    font-family: 'ManropeBold';
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 600;
    line-height: calc(32 / 28);
    color: black;
}
.prepDescription {
    font-family: 'ManropeRegular';
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18 / 14);
    color: black;
    text-align: justify;
}

.prepDescription:last-child {
    margin-bottom: 40px;
}
.RecipeContainer {
    display: flex;
    flex-direction: column-reverse;
}

.PreparationImg {
    /* min-width: 321px; */
    height: 375px;
    border-radius: 8px;
    object-fit: cover;
    object-position: top center;
    box-shadow: 0px 0px 40px #ffffff18;
    margin-bottom: 80px;
}

@media screen and (min-width:768px) {
    .PreparationImg {
        min-height: 584px;
    }
    .prepDescription {
    font-size: 16px;
    }
    .title {
        font-size: 40px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width:1440px) {
    .RecipeContainer {
        flex-direction: row;
        gap: 60px;
    }

    .title {
        margin-bottom: 60px;
    }
    .PreparationImg {
        min-width: 768px;
    }
};

